<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="app" class="container">
        <div class="logo">
            <img src="css/img/logo.png" alt="logo">
        </div>

        <form class="new-task" @submit.prevent="addTask(taskField)">
            <input type="text" placeholder="Inserisci testo to do" v-model="taskField" required> 
            <button type="submit">Aggiungi</button>
        </form>

        <div class="tasks-container">
            <ul v-if="taskList.length > 0">
                <li class="task" v-for="(task, index) in taskList">
                    <span class="text" :class="{'checked': taskList[index].done}" @click="taskList[index].done = !taskList[index].done">{{ taskList[index].text }}</span>
                    <i class="fas fa-times" @click="removeTask(index)"></i> 
                </li>
            </ul>
            <h2 class="warning" v-else>Lista vuota</h2>
        </div>
        
    </div>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="js/script.js"></script>
</html>